{% block body %}


<div class="container-fluid mt-4">
    <div class="d-flex flex-row">
        <form id="statusChangeForm" action="{{ path('app_order_status') }}" method="get">
        <input type="hidden" name="orderId" value={{ orderId }};>
        <input type="hidden" name="newStatusId" value={{ newStatusId }};>
        <p> ВАЖНО!!! КЪМ ПОРЪЧКАТА ИМА ДОПЪЛНИТЕЛЕН ДЕТАЙЛ <P>
        <p>Статусът не може да бъде променен. {{canChangeStatus}}</p>
</form>
        
        <div {{ stimulus_controller('modal-form') }}>
            
        </div>
    </div>
</div>

{% endblock %}