{% extends 'base.html.twig' %}

{% block title %}login
  {{ title }}
  
{% endblock title %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            /* Вмъкни стила за фоновата снимка чрез инлайн стил */
            background-image: url('{{ asset('images/dograma.jpg') }}');
        }
    </style>
    <div class="container-fluid">
      <form class="mx-auto" action="{{ path('app_login') }}" method="post" >
        <div class="mb-3 mt-5">
          <h4 class="text-center">Login</h4>
          <label for="username" class="form-label">Email address</label>
          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="_username" value="{{ last_username }}">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="_password">
        </div>
        <input type="hidden" name="_target_path" value="/order">
        <button type="submit" value="/order" class="btn btn-primary">Login</button>
      </form>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
  
{% endblock body %}
