{% extends 'base.html.twig' %}

{% block title %}Hello CreateOrderController!{% endblock %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    
   {% set newNumber = app.session.get('newNumber') %}
   {% set typeMontageName = app.session.get('typeMontageName') %}
   {% set customerName = app.session.get('customerName') %}
   Нова поръчка №
    {{ newNumber }}
    , тип монтаж "
    {{ typeMontageName }}
    ", за клиент
    {{ customerName }}
    {{ form_start(addOrder) }}
        {{ form_widget(addOrder) }}
        <input type="hidden" name="_target_path" value="/register">
        <button type="submit" action='/register' class="btn btn-primary">Create!</button>
    {{ form_end(addOrder) }}
</div>
{% endblock %}