{% extends 'base.html.twig' %}

{% block title %}Справка поръчка{% endblock %}

{% block body %}
<style>
</style>

<div class="container-fluid d-flex justify-content-between align-items-center" style="height: 60px;">    
    <p class="m-0" style="font-size: larger;">Телефон: 
        {% if customer.phone1 == null %} 
            няма
        {% else %}
            {{ customer.phone1 }}
        {% endif %}
    </p>
    <h2 class="m-0">Справка за клиент {{ customer.name }}</h2>
    <button onclick="history.back()" class="btn btn-secondary">Върни се назад</button>
</div>

<a href="{{ path('export_reference_customer') }}" class="btn btn-primary">Експортирай като Excel</a>
<div class="table-responsive-sm p-0 mt-2">
    <table class="table table-sm table-hover table-sticky">
        <thead class="thead-light">
            <tr> 
                <th> Номер </th>
                <th> Тип </th>
                <th> От дата </th>
                <th> За дата </th>
                <th> Квадратура </th>
                <th> Цена </th>
                <th> Платено </th>
                <th> Остатък </th>
            </tr>
            {% for order in orders %}
                <tr> 
                    <td> {{ order.number }} </td>
                    <td> {{ order.type.name }} </td>
                    <td> {{ order.createdAt|date('d.m.y') }} </td>
                    <td> {{ order.for_date|date('d.m.y') }} </td>
                    <td> {{ order.quadrature }} </td>
                    <td> {{ order.price }} </td>
                    <td> {{ order.paid }} </td>
                    <td> {{ order.price - order.paid }} </td>
                </tr>
            {% endfor %}
        </thead>
    </table>
</div>  
{% endblock %}