{% extends 'base.html.twig' %}

{% block title %}Нова поръчка{% endblock %}

{% block body %}
<style>
    
</style>
<div class="create-header">
    <a href="/order"><input type="button" class="btn btn-success" value="НАЧАЛО" data-turbo-frame="orders_frame"></a>
    <h2> НОВА ПОРЪЧКА № {{ numberOrder }} </h2>

    {# Показване на Flash съобщенията #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
</div> 
<div class="create-form-container">
    {{ form_start(createOrderData) }}
    <div class="form-grid">
        <div class="form-field-create customer">
            {{ form_label(createOrderData.customer) }}
            {{ form_widget(createOrderData.customer, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-field-create type">
            {{ form_label(createOrderData.type) }}
            {{ form_widget(createOrderData.type, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-field-create quadrature">
            {{ form_label(createOrderData.quadrature) }}
            {{ form_widget(createOrderData.quadrature, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(createOrderData.quadrature) }} {# Показва грешки за полето quadrature #}
        </div>
        <div class="form-field form-check glass">
            {{ form_widget(createOrderData.glass, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(createOrderData.glass, null, {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
        <div class="form-field form-check detail">
            {{ form_widget(createOrderData.detail, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(createOrderData.detail, null, {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
        <div class="form-field form-check mosquito">
            {{ form_widget(createOrderData.mosquito, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(createOrderData.mosquito, null, {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
        <div class="form-field-create price">
            {{ form_label(createOrderData.price) }}
            {{ form_widget(createOrderData.price, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(createOrderData.price) }} {# Показва грешки за полето price #}
        </div>
        <div class="form-field-create for_date">
            {{ form_label(createOrderData.for_date) }}
            {{ form_widget(createOrderData.for_date, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(createOrderData.for_date) }} {# Показва грешки за полето for_date #}
        </div>
        <div class="form-field-create note">
            {{ form_label(createOrderData.note) }}
            {{ form_widget(createOrderData.note, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-field-create create-submit">  
            {{ form_widget(createOrderData) }}
            <button type="submit" class="btn btn-primary create-submit">Създай поръчка!</button> 
        </div>
    {{ form_end(createOrderData) }}
    </div>
</div> 
<h2 class="recent-orders-title">Последни поръчки</h2>

<div class="table-responsive-sm p-0 mt-2">
    <table class="table table-sm table-hover table-sticky">
        <thead class="thead-light">
            <tr>
                <th>Номер</th>
                <th>Клиент</th>
                <th class="short-version">Схема</th>
                <th>Тип</th>
                <th>m2</th>
                <th>от дата</th>
                <th>за дата</th>
                <th>цена</th>
                <th>платено</th>
                <th>остатък</th>
                <th>статус</th>
                <th>стъклопакет</th>
                <th>доп. профил</th>
                <th>комарник</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
       {% for order in orders %}
            <tr >
                <td> {{ order.number }} </td>
                <td> {{ order.customer.name }} </td>
                {% if order.scheme == NULL %}
                <td class="short-version"> 
                    Няма
                </td>
                {% else %}
                <td class="short-version"> 
                </td>
                {% endif %}
                <td> {{ order.type.name }} </td>
                <td> {{ order.quadrature }} </td>
                <td > {{ order.createdAt|date('d.m.Y') }} </td>
                <td> {{order.forDate|date('d.m.Y')}}</td>
                <td> {{ order.price }}</td>
                <td> {{ order.paid }}</td>
                <td> {{ order.price - order.paid }}</td>
                
                {% if order.status == null %}
                    <td> няма</td> 
                {% else %} 
                    <td> {{ order.status.name }} </td>
                {% endif %} 
                
                {% if order.glass == NULL %}
                    <td> няма </td>
                {% else %}
                    <td> {{order.glass.name}}</td>    
                {% endif %}

                {% if order.detail == NULL %}
                    <td> няма </td>
                {% else %}
                    <td> {{ order.detail.name }} </td>        
                {% endif %}
    
                {% if order.mosquito == NULL %}
                    <td> няма </td>
                
                {% else %}
                    <td> {{ order.mosquito.name }} </td>    
                {% endif %}
                
        {% endfor %}
            </tr>
        </tbody>
    </table>
</div>   
 
{% endblock %}
