
  <div id="content-container" class="orders-table-container">
  {% set button_status_order = false %}
  {% set button_status_glass = false %}
  {% set button_status_detail = false %}
  {% set button_status_mosquito = false %}
  {% set filterForm = false %}
 
    <turbo-frame id="orders-list" data-turbo-action="advance"> 
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Номер</th>
                <th>Клиент</th>
                <th class="short-version">Схема</th>
                <th>Тип</th>
                <th>m2</th>
                <th>от дата</th>
                <th>за дата</th>
                <th>цена</th>
                <th>платено</th>
                <th>остатък</th>
                <th>плащане</th>
                <th>статус</th>
                <th>стъклопакет</th>
                <th>доп. профил</th>
                <th>комарник</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr >
                <td> <a href="{{ path('app_reference_order', {'orderId': order.id}) }}" target="_top" title='Подробности за поръчка'>{{ order.number }} </a> </td>
                <td> <a href="{{ path('app_reference_customer', {'customerId': order.customer.id}) }}" target="_top" title='Всички поръчки на клиента'>{{ order.customer.name }} </td>
                
                {% if order.scheme == NULL %}
                <td class="short-version"> 
                    Няма
                </td>
                {% else %}
                <td class="short-version"> 
                <a href="{{ asset('uploads/' ~ order.scheme) }}" target="_top">Виж схема</a>
                </td>
                {% endif %}
                <td> {{ order.type.name }} </td>
                <td> {{ order.quadrature }} </td>
                <td >  
                <form action="{{ path('app_reference_date') }}" method="POST" data-turbo="false" >
                    <input type="hidden" name="date" value="{{ order.createdAt|date('d.m.Y') }}">
                    <button type="submit" class="btn btn-info">{{ order.createdAt|date('d.m.Y') }} </button>
                </form> 
                </td>
                <td> {{order.forDate|date('d.m.Y')}}</td>
                <td> {{ order.price }}</td>
                <td> {{ order.paid }}</td>
                
                <td class="{% if (order.price - order.paid) == 0 %}green{% else %}red{% endif %}">
                    {{ order.price - order.paid }}
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    <form action="{{ path('app_payment_payables') }}" id="payment-form-{{ order.id }}" data-turbo="false">
                        <input type="hidden" id="customerId-{{ order.id }}" name="customerId" value="{{ order.customer.id }}">
                        <button type="submit" class="btn" style="background: none ; border: none ; padding: 0; cursor: pointer;">
                        <i class="fas fa-dollar-sign" title="Плащане" style="font-size: 24px; color: #053210;"></i> <!-- можеш да промениш размера и цвета -->
                        </button>
                    </form>
                </td>
                {% if order.status == null %}
                    {% set button_status_order = false %}
                    <td> няма</td> 
                {% elseif order.status.id == lastStatus.lastStatusOrder.id %} 
                    {% set button_status_order = false %}
                    <td class="last"> {{ order.status.name }} </td>
                {% elseif checkbox_status_order %} 
                    {% set button_status_order = true %}
                    <td> {{order.status.name}}
                    <br>
                    <input type="checkbox" name="selectedOrders_status[]" value="{{ order.id }}" data-status="{{ order.status.id }}" data-title="Промяна на статус за поръчка ">
                     Промени </br>
                    <div {{ stimulus_controller('modal-form',{
                                formUrl: path('app_status_order'),})
                            }}
                                data-action="hidden.bs.modal->modal-form#modalHidden"
                                >
                                <button
                                    style="display: none;" 
                                    data-action="modal-form#openModal"
                                    data-order-id="hidden-modal"
                                    data-current-page="hidden"
                                    >скрит бутон</button> 
                            {{ include('_modal.html.twig', {
                                modalTitle: 'Промяна на статус'
                                }) 
                            }}      
                    </div>
                    </td>        
                {% else %}
                    {% set button_status_order = false %}
                    <td class="{% if (order.status.name) == 'Приета' %}first
                               {% elseif(order.status.name) == 'Производство' %}second
                               {% elseif(order.status.name) == 'Готова' %}third
                               {% endif %}">
                     {{order.status.name}}
                        <div class="d-flex flex-row">
                            <div {{ stimulus_controller('modal-form',{
                                    formUrl: path('app_status_order', {'orderId': order.id, 'currentPage': currentPage}),})
                                    }}
                                    data-action="hidden.bs.modal->modal-form#modalHidden"
                                    >
                                    {% if showCheckboxes == true %}
                                        {% set filterForm = true %}
                                    {% endif %}
                                    <button
                                        class="btn btn-primary btn-sm" 
                                        data-action="modal-form#openModal reload-content#updateUrl"
                                        data-order-id="{{ order.number }}"
                                        data-current-page="{{ currentPage }}"
                                        data-filter-form="{{ filterForm }}"
                                        >промени</button>
                                        
                                        {{ include('_modal.html.twig', {
                                            modalTitle: 'Промяна на статус'
                                       }) }}      
                            </div>
                        </div>
                    {% endif %} 
                </td>
                {% if order.glass == NULL %}
                    {% set button_status_glass = false %}
                    <td> няма </td>
                {% elseif order.glass.id == lastStatus.lastStatusGlass.id %}
                    {% set button_status_glass = false %}
                    <td class="last"> {{ order.glass.name }} </td>
                {% elseif checkbox_status_glass %}
                    {% set button_status_glass = true %}
                    <td> {{order.glass.name}}
                    <br>
                        <input type="checkbox" name="selectedOrders_glass[]" value="{{ order.id }}" data-status="{{ order.glass.id }}" data-title="Промяна на статус стъклопакет ">
                         Промени </br>
                        <div {{ stimulus_controller('modal-form',{
                                    formUrl: path('app_status_glass'),})
                                    }}
                                    data-action="hidden.bs.modal->modal-form#modalHidden"
                                    >
                                    <button
                                        style="display: none;" 
                                        data-action="modal-form#openModal"
                                        data-order-id="hidden-modal"
                                        data-current-page="hidden"
                                        >скрит бутон</button>
                                        {{ include('_modal.html.twig', {
                                            modalTitle: 'Промяна на статус Стъклопакет'
                                       }) }}      
                        </div> 
                    </td>          
                {% else %}
                    {% set button_status_glass = false %}
                    <td class="{% if (order.glass.name) == 'Непоръчан' %}first
                               {% elseif(order.glass.name) == 'Поръчан' %}second
                               {% elseif(order.glass.name) == 'Доставен' %}third
                               {% endif %}">
                    {{order.glass.name}}
                        
                            <div class="d-flex flex-row">
                                <div {{ stimulus_controller('modal-form',{
                                        formUrl: path('app_status_glass', {'orderId': order.id, })  
                                    }) }}
                                    data-action="hidden.bs.modal->modal-form#modalHidden"
                                    >
                                    {% if showCheckboxes == true %}
                                        {% set filterForm = true %}
                                    {% endif %}
                                        <button
                                        class="btn btn-primary btn-sm" 
                                        data-action="modal-form#openModal reload-content#updateUrl"
                                        data-order-id="{{ order.id }}"
                                         data-current-page="{{ currentPage }}"
                                         data-filter-form="{{ filterForm }}"
                                        >промени</button>
                                        {{ include('_modal.html.twig', {
                                            modalTitle: 'Промяна на статус стъклопакет'
                                       }) }}  
                                </div>
                            </div>
                        
                    </td>    
                {% endif %}

                {% if order.detail == NULL %}
                    {% set button_status_detail = false %}
                    <td> няма </td>
                {% elseif order.detail.id == lastStatus.lastStatusDetail.id %}
                    {% set button_status_detail = false %}
                    <td class="last"> {{ order.detail.name }} </td>
                {% elseif checkbox_status_detail %}
                    {% set button_status_detail = true %}
                    <td> {{order.detail.name}}
                    <br>
                        <input type="checkbox" name="selectedOrders_detail[]" value="{{ order.id }}" data-status="{{ order.detail.id }}" data-title="Промяна на статус ДОПЪЛНИТЕЛЕН ДЕТАЙЛ">
                         Промени </br>
                        <div {{ stimulus_controller('modal-form',{
                                    formUrl: path('app_status_detail'),})
                                    }}
                                    data-action="hidden.bs.modal->modal-form#modalHidden"
                                    >
                                    <button
                                        style="display: none;" 
                                        data-action="modal-form#openModal"
                                        data-order-id="hidden-modal"
                                        data-current-page="hidden"
                                        >скрит бутон</button>
                                        {{ include('_modal.html.twig', {
                                            modalTitle: 'Промяна на статус Допълнителен профил' 
                                       }) }}      
                            </div> 
                    </td>
                    {% else %}
                        {% set button_status_detail = false %}  
                        <td class="{% if (order.detail.name) == 'Приет' %}first
                                   {% elseif(order.detail.name) == 'Производство' %}second
                                   {% elseif(order.detail.name) == 'Готов' %}third
                                   {% endif %}"> 
                        {{ order.detail.name }} 
                            <div class="d-flex flex-row">
                                <div {{ stimulus_controller('modal-form',{
                                   formUrl: path('app_status_detail', {'orderId': order.id})  
                                  }) }}
                                   data-action="hidden.bs.modal->modal-form#modalHidden"
                                    >
                                    {% if showCheckboxes == true %}
                                        {% set filterForm = true %}
                                    {% endif %}
                                    <button
                                        class="btn btn-primary btn-sm" 
                                        data-action="modal-form#openModal reload-content#updateUrl"
                                        data-order-id="{{ order.id }}" 
                                        data-current-page="{{ currentPage }}"
                                        data-filter-form="{{ filterForm }}"
                                        >промени</button>
                                        {{ include('_modal.html.twig', {
                                            modalTitle: 'Промяна на статус Профил'
                                       }) }}       
                                </div>
                            </div>
                        </td>        
                {% endif %}
    
                {% if order.mosquito == NULL %}
                    {% set button_status_mosquito = false %}
                    <td> няма </td>
                {% elseif order.mosquito.id == lastStatus.lastStatusMosquito.id %}
                    {% set button_status_mosquito = false %}
                    <td class="last"> {{ order.mosquito.name }} </td>
                {% elseif checkbox_status_mosquito %}
                    {% set button_status_mosquito = true %}
                    <td> {{order.mosquito.name}}
                    <br>
                        <input type="checkbox" name="selectedOrders_mosquito[]" value="{{ order.id }}" data-status="{{ order.mosquito.id }}" data-title="Промяна на статус КОМАРНИК">
                         Промени </br>
                         <div {{ stimulus_controller('modal-form',{
                                    formUrl: path('app_status_mosquito'),})
                                    }}
                                    data-action="hidden.bs.modal->modal-form#modalHidden"
                                    >
                                    <button
                                        style="display: none;" 
                                        data-action="modal-form#openModal"
                                        data-order-id="hidden-modal"
                                        data-current-page="hidden"
                                        >скрит бутон</button>
                                        {{ include('_modal.html.twig', {
                                            modalTitle: 'Промяна на статус Комарник'
                                       }) }}      
                            </div> 
                    </td>
                {% else %}
                    {% set button_status_mosquito = false %}
                    <td class="{% if (order.mosquito.name) == 'Приет' %}first
                               {% elseif(order.mosquito.name) == 'Производство' %}second
                               {% elseif(order.mosquito.name) == 'Готов' %}third
                               {% endif %}">
                    {{ order.mosquito.name }}
                         <div class="d-flex flex-row">
                            <div {{ stimulus_controller('modal-form',{
                                   formUrl: path('app_status_mosquito', {'orderId': order.id})  
                                  }) }}
                                  data-action="hidden.bs.modal->modal-form#modalHidden"
                                    >
                                    {% if showCheckboxes == true %}
                                        {% set filterForm = true %}
                                    {% endif %}
                                    <button
                                        class="btn btn-primary btn-sm" 
                                        data-action="modal-form#openModal reload-content#updateUrl"
                                        data-order-id="{{ order.id }}"
                                        data-current-page="{{ currentPage }}"
                                        data-filter-form="{{ filterForm }}" 
                                        >промени</button>
                                        {{ include('_modal.html.twig', {
                                            modalTitle: 'Промяна на статус комарник'
                                       }) }}      
                            </div>
                        </div>
                    </td>    
                {% endif %}
                
                <td>   
                    <a href="{{ path('app_order_edit', {'id': order.id}) }}" target="_top">редактиране</a>
                    <br>
                    {# Проверка дали има забележка и показване на различна иконка и цвят #}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#note-modal-{{ order.id }}"title={{order.note}}>
                    {% if order.note %}
                        <i class="fas fa-book" style="color: red;"></i> {# Иконка за забележка, ако има такава #}
                    {% else %}
                        <i class="fas fa-book" style="color: black;"></i> {# Иконка за липса на забележка #}
                    {% endif %}
                    </a>

                    {# Модален прозорец за показване на забележката #}
                    <div class="modal fade" id="note-modal-{{ order.id }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Забележка за поръчка № {{ order.id }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {% if order.note %}
                                        {{ order.note }}
                                    {% else %}
                                        <p>Няма забележка.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            
        {% endfor %}
        

        <tfoot>
        <!-- Добавяме под всяка колона бутон за промяна на избраните поръчки -->
        <tr>        
        
        {% if (button_status_order) or (button_status_glass)
        or (button_status_detail) or (button_status_mosquito) %}
        <!-- Добавяме под всяка колона бутон за промяна на избраните поръчки -->
            <td colspan="4">Общ брой поръчки:<span style="margin-left: 15px">{{ total_sum[0][4] }}</span> </td>
            <td>{{ total_sum[0][1]}}</td>
            <td colspan="2"></td>
            <td>{{ total_sum[0][2] }}</td>
            <td>{{ total_sum[0][3] }}</td>
            <td>{{ total_sum[0][2] - total_sum[0][3] }}</td>
            <td></td>
            {% if button_status_order %}
            <td > 
                <button id="changeStatusButton" class="btn btn-primary" >Промени избраните</button>
            </td>
            {% else %} 
            <td></td>
            {% endif %}
            {% if button_status_glass %}
            <td >
            <button id="changeStatusButtonGlass" class="btn btn-primary">Промени избраните</button>
            </td>
            {% else %}
            <td></td>
            {% endif %}
            {% if button_status_detail %}
            <td>
                <button id="changeStatusButtonDetail" class="btn btn-primary">Промени избраните</button>
            </td>
            {% else %}
            <td></td>
            {% endif %}
            {% if button_status_mosquito %}
            <td>
                <button id="changeStatusButtonMosquito" class="btn btn-primary">Промени избраните</button>
            </td>
            {% else %}
            <td></td>
            {% endif %}
            <td></td>
        {% else %}
        <td colspan="4">Общ брой поръчки:<span style="margin-left: 15px">{{ total_sum[0][4] }}</span> </td>
            <td>{{ total_sum[0][1]}}</td>
            <td colspan="2"></td>
            <td>{{ total_sum[0][2] }}</td>
            <td>{{ total_sum[0][3] }}</td>
            <td>{{ total_sum[0][2] - total_sum[0][3] }}</td>
            <td colspan="5"><td>
        </tr>
    </tfoot>
        {% endif %}
        
        </tbody>
    </table>
    
    
  {{ pagerfanta(orders, 'twitter_bootstrap5', { 
        prev_message: 'Предишна',
        next_message: 'Следваща',
        
        }) }}  
        
      
  {# {{ knp_pagination_render(orders) }} #}
 </turbo-frame>   

<script src="{{ asset('build/app.js') }}"></script>

    <script>
        function checkFile(orderId) {
            var fileInput = document.getElementById('fileInput_' + orderId);
            var filenameInput = document.getElementById('filename_' + orderId);
            var fileError = document.getElementById('fileError_' + orderId);
            
            
            if (!fileInput.value) {
                fileError.style.display = 'block';
                return false; // Прекратява изпращането на формата
            } else {
                fileError.style.display = 'none';
                console.log("JSHTML:", filenameInput);
                return true; // Позволява изпращането на формата
            }
        }
     
    </script>


    


   