
{% extends 'base.html.twig' %}
{% block title %} Задължения на клиент {% endblock %}

{% block body %}
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Плащане</title>
</head>
<body>
     <a href="/order"><input type="button" class="btn btn-success" value="НАЧАЛНА СТРАНИЦА" data-turbo-frame="orders_frame"></a>
     <div style="display: flex; justify-content: center; text-align: center;">
          <h1>Задължения на клиент {{ customer }}</h1>
     </div>

     <table id="orderTable">
          <thead>
               <tr>
                    <th>Поръчка №</th>
                    <th>Цена поръчка</th>
                    <th>Платено до момента </th>
                    <th>Дължима сума </th>
                    <th>Действия</th> 
                    <th>Плащане </th>
                    <th>Документ</th>
                    <th>№ на док</th>
               </tr>
          </thead>
          <tbody>
               {% for order in orders %}
                    <tr data-id="{{ order.id }}" data-price="{{ order.balance }}">
                         <td>{{ order.number }}</td>
                         <td>{{ order.price }}</td>
                         <td>{{ order.paid }}</td>
                         <td id="orderPrice_{{ order.id }}" data-price="{{ order.balance }}">
                              <span data-price={{ order.balance }}></span>
                              {{ order.balance }}
                         </td>
                         <td> 
                              <button class="transferAmountButton" data-order-id="{{ order.id }}" data-order-number="{{ order.number }}">Прехвърли сумата</button>
                         </td>
                         <td>
                              <input type="number" class="paymentInput" data-id="{{ order.id }}" data-order-number="{{ order.number }}" data-price="{{ order.price }}" min="0" max="{{ order.price }}" placeholder="0.00">
                         </td>
                         <td>
                              <input type="text" class="paymentDoc" disabled>
                              <span class="paymentDocError" style="color: red;"></span>
                         </td>
                         <td>
                              <input type="text" class="docNumber" disabled>
                         </td>
                    </tr>
               {% endfor %}
               <tr style="background-color: white; border-top: 1px solid #ccc;">
                    <td colspan="4" style="border: none; border-top: 1px solid #ccc;"></td>
                    {{ form_start(form) }}
                         <td style="border: none; border-top: 1px solid #ccc;">
                              <label style="font-size: 24px;" >Обща сума:</label>
                         </td>
                         <td style="border: none; border-top: 1px solid #ccc;">
                              <span id="totalAmount" style="font-size: 24px; color: red; margin: 20px;">0.00</span>
                         </td>
                         <td colspan="2" style="border: none; border-top: 1px solid #ccc;">
                              <button type="submit" class="btn btn-success">ПЛАЩАНЕ</button>
                         </td>
                    {{ form_end(form) }}
               </tr>     
          </tbody>
     </table>
</body>
</html>
{% endblock %}
