{% extends 'base.html.twig' %}
{% block title %} Задължения на клиент {% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
    <h1>Задължения на клиен {{ customer }}</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                
                <th>Номер</th>
                <th>Цена</th>
                <th>Платено</th>
                <th>Дължима сума</th>
                <th>CreatedAt</th>
                
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                
                <td>{{ order.number }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.paid }}</td>
                <td>{{ order.price - order.paid }}</td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                
                <td>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ form_start(form, {'attr': {'id': 'payment-form'}}) }}
     {{ form_widget(form) }}
    
     <input type="hidden" name="data" value="123" />
    <button type="submit">Изпрати</button>
     {{ form_end(form) }}    

    {% endblock %}